* {
  margin: 0px;
  text-decoration: none;
  font-family: "Montserrat", serif;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

:root {
  --btncolor: rgb(89, 89, 233);
  --graycolor: rgba(255, 255, 255, 0.5);
  --bordercolor: rgba(0, 0, 0, 0.1);
  --planradius: 20px;
}

/* nav code */
.nav_bar {
  margin: 0px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  color: white;
  height: 100px;
  align-items: center;
}
.nav_middle,
.nav_right {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav_bar a {
  color: #fff;
}

/* .first_layer {
  margin: 100px;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.ref {
  gap: 20px;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
} */

.tab_one,
.tab_two,
.tab_three {
  border-style: solid;
  border-radius: 5px;
  margin: 20px 1500px 0px 0px;
  border-width: 2;
}

/* switch botton */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* hero-section */

.hero-section {
  background-color: #000;
  text-align: center;
  position: relative;
  padding: 0;
  color: #fff;
}
.hero-section h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-section p {
  color: rgba(255, 255, 255, 0.5);
  font-size: medium;
  width: 100%;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
}

.hero-section .try-button {
  padding: 15px 30px;
  background-color: var(--btncolor);
  color: #fff;
  border-radius: 30px;
  border: none;
  line-height: 100px;
  font-size: 17px;
  font-weight: 700;
}

.hero-section span {
  margin: 20px 0;
}

.hero-section .get {
  color: var(--graycolor);
  font-size: 15px;
}

.subscription-plan {
  display: flex;
  background-color: #000;
  color: #000;
  margin: 70px 0 0 0;
  padding: 0;
  position: relative;
}

.subscription-plan .strike {
  color: var(--graycolor);
  text-decoration: line-through;
}

.startup,
.professional,
.enterprise {
  background-color: #fff;
  flex: 1;
  padding: 20px;
  border-radius: var(--planradius);
  border: solid 0.3px var(--bordercolor);
}
.startup li,
.professional li,
.enterprise li {
  list-style: none;
  text-align: left;
}
.subscription-plan h3,
.subscription-plan h1 {
  text-align: left;
  padding: 10px;
}

.startup {
  border-radius: var(--planradius) 0 0 0;
}

.enterprise {
  border-radius: 0 var(--planradius) 0 0;
}

.professional {
  position: relative;
  border-radius: 0;
}
.pushup {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  padding: 20px;
  border-radius: var(--planradius);
}
.authentication {
  margin: 0;
  background-color: #be1e1e;
  border: none;
  border-radius: 0 0 var(--planradius) var(--planradius);
  height: 150px;
  text-align: center;
}
.authentication h2 {
  padding: 30px 0 0 30px;
  text-align: center;
}
.authentication p {
  padding: 20px 30px;
  text-align: center;
}
.plan-section {
  background-color: #fff;
  text-align: center;
  color: #000;
  margin: 10px 25%;
  padding: 0;
  position: absolute;
}
.plan-section .compare {
  margin: 20px;
}
.plan-section .crm .email .calling .sales {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  text-align: left;
}
td {
  width: 250px;
  border-bottom: 1px solid;
}

tr td {
  text-align: center;
}

tr td:first-child {
  text-align: left;
}
.plan-section h1 {
  text-align: left;
}

.plan-section .detailed-storage {
  padding: 15px 30px;
  background-color: rgb(214, 21, 73);
  color: #fff;
  border-radius: 30px;
  border: none;
  line-height: 100px;
  font-size: 17px;
  font-weight: 700;
}

.summer-image {
  display: flex;
  justify-content: center;
}
.summer-image li {
  display: inline;
}
.summer-image img {
  width: 130px;
  margin: 20px;
}

.footer {
  position: relative;
  background-color: #000;
  padding: 0;
  color: #fff;
  margin: 2330px 0 0 0;
}
.footer .sub-plan,
.footer .startup,
.footer .professional,
.footer .enterprise {
  display: flex;
  border: solid red 1px;
  width: 50%;
  margin: 10px 25%;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
.footer .sub-plan p {
  color: var(--graycolor);
  font-weight: 700;
}
.footer .startup-detail,
.footer .professional-detail,
.footer .enterprise-detail {
  display: block;
}
